@use "~/scss/" as *;

.invoice {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;

    .header {
        text-align: center;
    }

    .customer_info {
        text-align: center;

        p {
            padding: 2px 0;
        }
    }


    .customer_infos {
        padding-top: 10px;

        p {
            padding: 5px 0;
        }
    }


    .invoice_details {
        margin-top: 20px;

        h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    }
}

.invoice-to-print {
    /* Định dạng cho phần muốn in */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

@media print {
    .invoice-to-print {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
    }

    .button_print {
        display: none;
    }


}

.update_stastus {
    width: 100%;
    min-height: 120px;
    display: grid;
    justify-content: center;

    h3 {
        padding: 5px 0 10px 0;
        text-align: center;
    }

    .update {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

        .stastus_room {
            width: 290px;
            display: grid;
            margin-bottom: 10px;

            @include pc {
                width: 330px;
            }


        }
    }
}



.status_body {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    position: relative;

    .edit_from {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;

    }

    h4 {
        text-align: center;
        font-size: 16px;
        padding: 10px 0 10px 0;

        @include pc {
            font-size: 24px;
        }
    }
}

.formt {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;


    .formt_rigister {
        width: 100%;
        margin: 0 auto;
    }

    .formt_client {
        width: 100%;
        margin: 0 auto;
    }

    @include pc {
        grid-template-columns: 1fr 1fr;
        gap: 10px;

    }
}

.button_print {
    margin-top: 20px;
}





.Action {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.priceHouse {
    margin: 0 auto;

    h6 {
        font-size: 12px;

        span {
            color: rgb(247, 122, 122)(165, 121, 121);
        }
    }

    @include pc {
        h6 {
            font-size: 16px;

            span {
                color: rgb(247, 122, 122)(165, 121, 121);
            }
        }
    }
}

.handle {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 10px;

    .save {
        display: flex;

        .button_save {
            margin-left: 5px;
        }
    }
}